@import "assets/css/normalize.css";
@import "assets/css/header.css";
@import "assets/css/main.css";
@import "assets/css/footer.css";



body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


/* in office */
.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

h2 {
    font-size: 32px;
}

input {
    border: 0;
}
input::placeholder {
    padding: 17px 0 0 20px;
}

button {
    background: #34547A;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background 0.3s;
    width: 190px;
    height: 55px;
}