.footer {
    background: #34547A;
    /* max-height: 151px;
    padding: 50px 0 50px 0; */
    color: white;
}

.footer__nameAndSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 151px;
}

.footer__nameAndSocial__security__h3 {
    font-size: 21px;
}

.footer__nameAndSocial__security__p {
    font-size: 13px;
}

.footer__nameAndSocial__social {
    display: flex;
    gap: 22px;
}