.footer {
    background: #34547A;
    color: #ffff;
}

.footer__nameAndSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 151px;
}

.footer__nameAndSocial__security__p {
    font-size: 13px;
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer__nameAndSocial__social {
    display: flex;
    gap: 22px;
}


@media (min-width: 320px) and (max-width: 1279px) {
    .footer__nameAndSocial {
        flex-direction: column;
        padding: 25px 0 25px 0;
        justify-content: space-evenly;
    }

    .footer__nameAndSocial__security {
        text-align: center;
    }
}